<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="SwiftyCam" version="1.0.0">
    <name>CordovaSwiftyCam</name>
    <description></description>
    <license>MIT</license>
    <keywords>swiftycam,snapchat,camera,framework,fullscreen</keywords>
    <repo>https://github.com/andrewoodleyjr/cordova-swiftycam.git</repo>
    <issue>https://github.com/andrewoodleyjr/cordova-swiftycam/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="SwiftyCam" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SwiftyCam">
                <param name="android-package" value="com.example.SwiftyCam" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/com/example/SwiftyCam.java" target-dir="src/com/example/" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
            <clobbers target="SwiftyCam" />
        </js-module>
        <preference name="NSCameraUsageDescription" default="To take photos and video." />
        <preference name="NSMicrophoneUsageDescription" default="To record audio with video." />
        <!-- Swift Support -->
        <dependency id="cordova-plugin-add-swift-support" version="1.6.1" />
        <!-- Source File -->
        <config-file target="config.xml" parent="/*">
            <feature name="SwiftyCam">
                <param name="ios-package" value="SwiftyCam" onload="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/SwiftyCam.swift" />
        <source-file src="src/ios/PreviewView.swift" />
        <source-file src="src/ios/SwiftyCamButton.swift" />
        <source-file src="src/ios/SwiftyCamViewController.swift" />
        <source-file src="src/ios/SwiftyCamViewControllerDelegate.swift" />
        <source-file src="src/ios/SwiftyCamCameraViewController.swift" />
        <source-file src="src/ios/SwiftyRecordButton.swift" />
        <source-file src="src/ios/PhotoViewController.swift" />
        <source-file src="src/ios/VideoViewController.swift" />
        <resource-file src="src/ios/cancel.imageset" target="src/Images.xcassets/cancel.imageset" />
        <!-- <resource-file src="src/ios/flash.imageset" />
        <resource-file src="src/ios/flashOutline.imageset" />
        <resource-file src="src/ios/focus.imageset" />
        <resource-file src="src/ios/flashOutline.imageset" /> -->
    </platform>
</plugin>